<nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; Welcome User </b></a>
    <span class="quote text-light">Giving you freedom...</span>
  </nav>
  <!-- String Interpolation -->
  <h4 style="color: aliceblue;text-align: center;">{{aim}}</h4>
  <div class="container col-md-12 mt-0">
      <div class="d-flex justify-content-center h-100">
          <div class="card">
              <div class="card-header">
                  <h3 class="text-center">Sign In</h3>
  
              </div>
              <div class="card-body">
                  <form (ngSubmit)="login()">
                      <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
              <!-- Property Binding -->
              <!-- event binding using $event as argument:(change)="get_acno($event)" -->
              <!-- template referencing variable -->
                          <input type="text" class="form-control" [(ngModel)]="uname" name="uname" [placeholder]="accno" id="login_accno" required>
  
                      </div>
                      <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-key"></i></span>
                          </div>
                          <!--event binding using $event  (change)="get_pswd($event)"-->
                          <input type="password" class="form-control" [(ngModel)]="pswd" name="pswd" placeholder="password" id="login_password" required>
                      </div>
  
                      <div class="form-group">
              <!-- Event Binding syntax: (event)="function call()" -->
                          <input type="submit" value="Login"  class="btn float-right login_btn " style="width:50%" >
                      </div>
                  </form>
              </div>
              <p style="color:white;align-items:baseline;">Not a user? <a routerLink="register">Register</a></p>
          </div>
      </div>
  </div>
